<p id="notice"><%= notice %></p>

<p>
  <strong>Input url:</strong>
  <%= @url.input_url %>
</p>

<p>
  <strong>Output url:</strong>
  <%= @url.output_url %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
